config serial2wifi config

option netip_mode 0
option netip_ip 192.168.1.100
option netip_mask 255.255.255.0
option netip_dgw 192.168.1.1
option netip_dns 192.168.1.1
option netport_type 0

option serial_rate 115200
option serial_db 0
option serial_sb 0
option serial_parity 0
        
option socket_mode 0
option socket_proto 0
option socket_cs 0
option socket_host 192.168.1.10
option socket_cport 5678
option socket_sport 5679
option socket_timeout 3
